html {
background-color: #00002e;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
color: white;
}
.topo {
	display: flex;
	justify-content: left;
}
.pg__home {
	display: flex;
    justify-content: center;
}
.pg__home section {
	display: flex;
    flex-direction: column;
}
.pg__home h2 {
	font-size: 45px;
	display: flex;
	justify-content: center;	
}
.pg__home__list {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	flex-wrap: wrap;
	width: 856px;
}
.pg__home__list__item {
	display: flex;
	font-size: 18px;
	width: 186px;
}
.pg__home__list__item img {
	width: 100%;
}

.addPerfil{
	font-size: 15px;
	text-align: center;
}
footer {
	display: flex;
	justify-content: center;
}
button {
	color: white;
	border: 2px solid white;
	background-color: #00002e;
	padding: 15px 30px;
}

@media (min-width:320px) and (max-width:480px) {
	.topo figure img {
		width: 100%;
	}
	.pg__home__list__item {
		font-size: 18px;
	}
	.pg__home h2 {
		font-size: 24px;
		margin-left: 15px;
		margin-bottom: -10px;
	}
	.pg__home__list {
		width: 360px;
	}
	.pg__home__list__item {
		width: 180px;
		margin-bottom: -30px;
	}

}
